# Node modules
node_modules/

# Build folder (for React)
build/

# Dependency lock files
npm-debug.log*
yarn-debug.log*
yarn.lock

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE or editor files
.vscode/
.idea/

# Heroku specific files (optional, depending on your setup)
procfile/

# Log files
*.log
